<a href="https://colab.research.google.com/github/Michelle3Laker/PublicModuleWork_O7/blob/main/27Nov_Supervision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Instruction: run this cell!
print('Hello world')

Hello world

In [ ]:
print("My name is Laker")

My name is Laker

In [ ]:
print("Canis lupus familiaris")

Canis lupus familiaris

In [ ]:
# This is a little interactive quiz
correct = 'rhino'
clues = ['It is grey.', 'It has a horn.', 'It is never seen in Cambridge',
         'There are five species White, Black, Javan, Sumatran and Indian',
         'Name starts with "R"', 'Name ends with "O"',
         'Was the subject of a famous print by Albrecht DÃ¼rer']
while(clues):
    answer = input("What animal is Anglia Ruskin's mascot?> ")
    answer = answer.lower()
    if answer == correct:
        print('Well done!', correct.capitalize(), 'is the correct answer.')
        break;
    else:
        clue = clues.pop(0) # remove the first clue
        print('Wrong! Here is a clue: "' + clue + '". Try again!')
if not clues:
    print('Sorry GAME OVER to many trys!')
    print('The answer is', correct.upper() + '!')

What animal is Anglia Ruskin's mascot?> Flamingo
Wrong! Here is a clue: "It is grey.". Try again!
What animal is Anglia Ruskin's mascot?> Rhino
Well done! Rhino is the correct answer.

In [ ]:
# you can get images from the web in Python and display them
from IPython.display import Image
from IPython.core.display import HTML
durer_rhino_url = 'https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/' \
                  'The_Rhinoceros_%28NGA_1964.8.697%29_enhanced.png/' \
                  '304px-The_Rhinoceros_%28NGA_1964.8.697%29_enhanced.png'
Image(url= durer_rhino_url)

In [ ]:
print("This line will print my name! My name is Laker")

This line will print my name! My name is Laker

In [7]:
AQ = 'https://raw.githubusercontent.com/camgenomicmedicine/GMO7-Jupyter/main/data/anscombe-quartet.csv'

In [12]:
import pandas as pd

In [13]:
AQ ='https://raw.githubusercontent.com/camgenomicmedicine/GMO7-Jupyter/main/data/anscombe-quartet.csv'

In [14]:
dataAQ = pd.read_csv(AQ)

In [16]:
dataAQ

   dataset     x      y
0        I  10.0   8.04
1        I   8.0   6.95
2        I  13.0   7.58
3        I   9.0   8.81
4        I  11.0   8.33
5        I  14.0   9.96
6        I   6.0   7.24
7        I   4.0   4.26
8        I  12.0  10.84
9        I   7.0   4.82
10       I   5.0   5.68
11      II  10.0   9.14
12      II   8.0   8.14
13      II  13.0   8.74
14      II   9.0   8.77
15      II  11.0   9.26
16      II  14.0   8.10
17      II   6.0   6.13
18      II   4.0   3.10
19      II  12.0   9.13
20      II   7.0   7.26
21      II   5.0   4.74
22     III  10.0   7.46
23     III   8.0   6.77
24     III  13.0  12.74
25     III   9.0   7.11
26     III  11.0   7.81
27     III  14.0   8.84
28     III   6.0   6.08
29     III   4.0   5.39
30     III  12.0   8.15
31     III   7.0   6.42
32     III   5.0   5.73
33      IV   8.0   6.58
34      IV   8.0   5.76
35      IV   8.0   7.71
36      IV   8.0   8.84
37      IV   8.0   8.47
38      IV   8.0   7.04
39      IV   8.0   5.25
40      IV  19.0  12.50
41      IV   8.0   5.56
42      IV   8.0   7.91
43      IV   8.0   6.89

In [19]:
%load_ext rpy2.ipython

This was done to let me run R code before i changed the entire notebook's runtime to R

In [20]:
%%R
AQ <- read.csv("https://raw.githubusercontent.com/camgenomicmedicine/GMO7-Jupyter/main/data/anscombe-quartet.csv")

In [21]:
%%R
head(AQ)

  dataset  x    y
1       I 10 8.04
2       I  8 6.95
3       I 13 7.58
4       I  9 8.81
5       I 11 8.33
6       I 14 9.96

From this point on, the Runtime has been changed to R

In [3]:
AQ <- read.csv("https://raw.githubusercontent.com/camgenomicmedicine/GMO7-Jupyter/main/data/anscombe-quartet.csv")

In [2]:
head(AQ)

  dataset x  y
1 I       10 8.04
2 I        8 6.95
3 I       13 7.58
4 I        9 8.81
5 I       11 8.33
6 I       14 9.96

In [13]:
library(tidyverse)

ââ Attaching core tidyverse packages ââââââââââââââââââââââââ tidyverse 2.0.0 ââ
â dplyr     1.1.3     â readr     2.1.4
â forcats   1.0.0     â stringr   1.5.0
â ggplot2   3.4.4     â tibble    3.2.1
â lubridate 1.9.3     â tidyr     1.3.0
â purrr     1.0.2
ââ Conflicts ââââââââââââââââââââââââââââââââââââââââââ tidyverse_conflicts() ââ
â dplyr::filter() masks stats::filter()
â dplyr::lag()    masks stats::lag()
â¹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [14]:
filter(AQ, dataset == "I")

   dataset x  y
1  I       10  8.04
2  I        8  6.95
3  I       13  7.58
4  I        9  8.81
5  I       11  8.33
6  I       14  9.96
7  I        6  7.24
8  I        4  4.26
9  I       12 10.84
10 I        7  4.82
11 I        5  5.68

In [15]:
library(ggplot2)

In [35]:
library(patchwork)

ERROR: ignored

In [40]:
plot.I <- ggplot((filter(AQ, dataset == "I")), mapping = aes(x=x,y=y)) + geom_point(color="red")
plot.II <- ggplot((filter(AQ, dataset == "II")), mapping = aes(x=x,y=y)) + geom_point(color="blue")
plot.III <- ggplot((filter(AQ, dataset == "III")), mapping = aes(x=x,y=y)) + geom_point(color="green")
plot.IV <- ggplot((filter(AQ, dataset == "IV")), mapping = aes(x=x,y=y)) + geom_point(color="black")

In [43]:
dataset.I <- filter(AQ, dataset=="I")
dataset.II <- filter(AQ, dataset=="II")
dataset.III <- filter(AQ, dataset=="III")
dataset.IV <- filter(AQ, dataset=="IV")

In [50]:
mean(dataset.I$x)
mean(dataset.I$y)
cor.test(dataset.I$x,dataset.I$y)
lm(x~y,dataset.I)

[1] 9

[1] 7.500909

	Pearson's product-moment correlation

data:  dataset.I$x and dataset.I$y
t = 4.2415, df = 9, p-value = 0.00217
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.4243912 0.9506933
sample estimates:
      cor
0.8164205

Call:
lm(formula = x ~ y, data = dataset.I)

Coefficients:
(Intercept)            y
    -0.9975       1.3328

In [51]:
mean(dataset.II$x)
mean(dataset.II$y)
cor.test(dataset.II$x,dataset.II$y)
lm(x~y,dataset.II)

[1] 9

[1] 7.500909

	Pearson's product-moment correlation

data:  dataset.II$x and dataset.II$y
t = 4.2386, df = 9, p-value = 0.002179
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.4239389 0.9506402
sample estimates:
      cor
0.8162365

Call:
lm(formula = x ~ y, data = dataset.II)

Coefficients:
(Intercept)            y
    -0.9948       1.3325

In [52]:
mean(dataset.III$x)
mean(dataset.III$y)
cor.test(dataset.III$x,dataset.III$y)
lm(x~y,dataset.III)

[1] 9

[1] 7.5

	Pearson's product-moment correlation

data:  dataset.III$x and dataset.III$y
t = 4.2394, df = 9, p-value = 0.002176
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.4240623 0.9506547
sample estimates:
      cor
0.8162867

Call:
lm(formula = x ~ y, data = dataset.III)

Coefficients:
(Intercept)            y
     -1.000        1.333

In [53]:
mean(dataset.IV$x)
mean(dataset.IV$y)
cor.test(dataset.IV$x,dataset.IV$y)
lm(x~y,dataset.IV)

[1] 9

[1] 7.500909

	Pearson's product-moment correlation

data:  dataset.IV$x and dataset.IV$y
t = 4.243, df = 9, p-value = 0.002165
alternative hypothesis: true correlation is not equal to 0
95 percent confidence interval:
 0.4246394 0.9507224
sample estimates:
      cor
0.8165214

Call:
lm(formula = x ~ y, data = dataset.IV)

Coefficients:
(Intercept)            y
     -1.004        1.334